.board-app-container {
    height: 100vh;

    & .board-sidebar-container {
        transition: min-width 0.2s ease;
        min-width: 250px;
        max-width: 250px;
        position: relative;
        & .board-side-bar {
            opacity: 1;
            transition: opacity 0.2s ease;
        }

        & button.toggle-board-sidebar {
            position: absolute;
            top: 22px;
            z-index: 2;
            right: -15px;
            width: 30px;
            height: 30px;
            border: none;
            padding: 0;
            border-radius: 50%;
            transition: background 0.2s ease;
            background-color: $white;
            color: $black;
            border: 1px solid #3333332a;
            &:focus {
                outline: none;
            }

            &:hover {
                background-color: $blue;
                color: $white;
                border: 1px solid $blue;
            }
            & svg {
                height: 30px;
            }
        }

        &.closed {
            min-width: 20px;
            width: 20px;

            & .board-side-bar {
                opacity: 0;
            }
        }
    }

    & .board-preview-container {
        overflow: hidden;
        background-color: #fff;
        flex-grow: 1;
        padding: 0 10px;
        z-index: 1;
    }
}

.main-sidebar-container {
    min-width: 65px;
    max-width: 65px;

    &.mobile {
        display: none;
    }

    &.desktop {
        display: block;
    }
}

.sunday-tooltip {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .board-app-container {
        height: calc(100vh - 65px);
    }
    .main-sidebar-container {
        min-width: unset;
        max-width: unset;

        &.mobile {
            display: block;
        }

        &.desktop {
            display: none;
        }
    }
    .sunday-tooltip {
        display: none !important;
    }
}
