// Colors
$red: #fb275d;
$green: #00ca72;
$yellow: #ffcc00;
$black: #333333;
$grey: #bdbdbd;
$lightgrey: #e6e9ef;
$verylightgrey: #f5f6f8;
$white: #f9f9f9;
$lightblue: #61aef7;
$blue: #0085ff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
